{% extends 'base.html' %}
{% block head %}
<title>Congratulations!</title>
{% endblock %}

{% block body %}
<h1>You just moved some of the largest files from the chosen folder</h1>
		<p>They are in "ToBeRemoved" folder on the path you specified. Inspect them and remove those you don't need anymore.</p>
	<form method="POST" action="/about">
		<button type="submit" name="About" value="About">See About</button><br>
	<br>
	</form>
	<form method="POST" action="/home">
		<button type="submit" name="Home" value="Home">Remove More Files</button>
	</form>

{% endblock %}