{% extends 'base.html' %}
{% block head %}
<title>Remove Big File Project</title>
{% endblock %}

{% block body %}
<h1>Your computer can run faster today!</h1>
		<p>You just need to remove the largest files from some of your folders. It's easy with this small project. Enjoy :)</p>
	<form method="POST" action="/congratulations">
  		<label for="fromPath">Path to the folder you want to remove largest files from:</label><br>
  		<input type="text" id="fromPath" name="fromPath"><br>
  		<label for="toPath">Path to the folder you want to put your removed files for inspection</label><br>
		<input type="text" id="toPath" name="toPath"><br>
		<label for="nd">How many largest files you want to remove:</label><br>
  		<input type="text" id="nd" name="nd"><br>
		<br>
		<input type="submit" value="Submit"/>
	</form>
{% endblock %}