#RBF Project

/venv/
/__pycache__/

#Lotto App
.DS_Store
.TemporaryItems
.Trashes
.build/
*.hmap


#SwiftUI Lotto 
.AppleDouble
.LSOverride
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent
xcuserdata/